$height: 40px;

.more {
  background-color: #fff;
  position: fixed;
  z-index: 20;
  right: 5px;
  top: 60px;
  width: 190px;
  border-radius: 6px;

  &:before {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    left: 158px;
    right: auto;
    top: -21px;
    bottom: auto;
    border: 11px solid;
    border-color: transparent transparent #fff transparent;
  }

  li {
    height: $height;
    text-align: center;
    line-height: $height;
  }

  a {
    text-decoration: none;
    color: #3387cb;
    font-size: 1.33333em;
  }
}

.enter {
  opacity: 0.01;
  transform: scale(0.4);
  transform-origin: top right;
}

.enterActive {
  opacity: 1;
  transform: scale(1);
  transform-origin: top right;
  transition: opacity 200ms ease-in, transform 200ms ease-in;
}

.leave {
  opacity: 1;
  transform: scale(1);
  transform-origin: top right;
}

.leaveActive {
  opacity: 0.01;
  transform: scale(0.4);
  transform-origin: top right;
  transition: opacity 100ms ease-in, transform 100ms ease-in;
}