._navbar {
  position: fixed;
  width: 100%;
  background-color: #3b3b3b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  height: 50px;
  color: #fff;
  list-style-type: none;
  z-index: 10;

  li {
    display: flex;
    flex: 0.2;
    justify-content: center;
  }

  ._location {
    flex: 1;
    justify-content: flex-start;
    padding-left: 10px;
  }
}